doctype html
html(style="background-image: url('images/mobil.jpg');")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title .:: Bersahabat ::.
    
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.aku(style="background-image: url('images/win1.jpg');")
        block content
            .pane.hello
                h1 Bullying
                br
                br
                h4 By :
                br
                h5 Handoko  
                h5 Randy  Muhroji  
                h5 Alvantesha Priliandi  
                h5 Ica Sitorus
      

      section.aku(style="background-image: url('images/win1.jpg');")
        h2 Dampak Bully Bagi Kehidupan Sosial
        img(src="images/pic1.jpg" width="100px")

      section.aku(style="background-image: url('images/win1.jpg');")
        h2 Apa Itu Bully?
        h3.bullet ============================================
        ul 
          li Bullying adalah perbuatan yang menyakiti seseorang atau sekelompok orang baik dalam bentuk kekerasan fisik, verbal, ataupun psikologis dalam sebuah lingkungan sosial. Bullying juga dapat diartikan sebagai bentuk agresi pada satu atau lebih anak secara berulang yang dengan sengaja mengintimidasi, melecehkan, atau membahayakan secara fisik korban yang dianggap tidak mampu membela dirinya sendiri.
      section.aku(style="background-image: url('images/win1.jpg');")
        h2 Karakteristik Bullying
        p
          ul
            li adanya pengulangan dari waktu ke waktu dan adanya hubungan yang tidak seimbang antara korban dan pelaku. Dimana korban menganggap diri mereka lebih lemah dan tidak mampu membalas pengganggu mereka.
      section.aku(style="background-image: url('images/win1.jpg');")
        h2 Kejadian sehari-hari yanng dapat dianggap tindakan Bullying
          p
            ul
              li Memanggil korban dengan nama ejekan seperti gendut, kerdil dan sebagainya
              li Kontak fisik yang berpotensi mencederai
              li Menjadikan sesorang sebagai subjek rumor
              li Mengancam korban
              li Mengisolasi korban secara sosial
              li Mengambil barang barang korban secara paksa
      section(style="background-image: url('images/win1.jpg');")
        h2 Survei
          ul
            li Membully dengan kata-kata kasar  (35%)
            li Pernah Membully dengan memukul, mendorong, menendang, dll(20%)
            li Membully dengan kata-kata porno (15%)
            li Membully dengan menyebar gosip (20%)
            li Membully dengan memalak(10%)
      section(style="background-image: url('images/win1.jpg');")
        h2 DAMPAK BULLYING
      section.aku#neg(style="background-image: url('images/win1.jpg');")
        h2 Dampak Positif
          p
            ul 
              li Memacu diri ingin menjadi yang terbaik
      section.aku#neg(style="background-image: url('images/win1.jpg');")
        h2 Dampak Negatif
          p
            ul 
              li Ketakutan
              li Cemas
              li Rendah diri
              li Depresi
              li Krisis kepercayaan pada orang lain
              li Gejala-gejala psikosomatis
              li Susah tidur
      section.aku(style="background-image: url('images/win1.jpg');")
        h2 Cara Menangani Bully
          p
            ul
              li Berbicara dengan orang dewasa Anda percaya. Jangan menyimpan perasaan Anda di dalam. Menceritakan seseorang dapat membantu Anda merasa kurang sendirian. Mereka dapat membantu Anda membuat rencana untuk menghentikan bullying.
              li Tinggal jauh dari tempat di mana intimidasi terjadi.
              li Tinggal di dekat orang dewasa dan anak-anak lainnya. Kebanyakan intimidasi yang terjadi ketika orang dewasa tidak sekitar.
      section.aku#neg(style="background-image: url('images/win1.jpg');")
        h2 Sikap Yang Bijaksana Menanggapi Bullying
          p
            ul
              li Mengampuni dan mendoakan
              li Tidak membalas tetapi mengasihi
              li Berusaha mencari teman curhat atau yang bisa memahami
              li Mengalihkan pikiran negatif kepada hal-hal positif
              li Berjuang memaksimalkan potensi diri dengan tidak kehilangan tujuan hidup
      section.aku#neg(style="background-image: url('images/win1.jpg');")
        h2 
    script(src='build/build.js')