doctype html
HEAD
html
  head
    link(rel='icon', href='images/pic1.jpg')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title .:: Bersahabat ::.
    
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='images/style.css')
    script(language='JavaScript').
      var txt=".:::: Bersahabat ::::. | .:::: Say No To Bully ::::. | ";
      var kecepatan=100;var segarkan=null;function bergerak() { document.title=txt;
      txt=txt.substring(1,txt.length)+txt.charAt(0);
      segarkan=setTimeout("bergerak()",kecepatan);}bergerak();

    style(type='text/css').
      body{
          background-image: url('images/batik.png');
          line-height: 1.5;
          margin: 0;
          padding: 0;
          font-family: Helvetica, "Lucida Sans", Arial, sans-serif;
          word-wrap: break-word;
          overflow-x: hidden;
          text-align: justify;
      }
      
      li{
        line-height = 1;
        padding:0;
        position: relative;
        text-align: left;
      }
      l1
      {
        line-height = 1;
        padding:0;
        position: relative;
        text-align: center;
        color:white;
      }
      li.kiri{
        margin-left:-120px;
      }
      li{
        list-style: decimal;
      }
      li.parag{
        list-style:none;
      }

  body
    article.aku1
      section.aku
        block content
            .pane.hello
                h3 Dampak Bully 
                br
                br
                br
                h3 Dikedihupan Sosial
                
      section.aku
        h1 Presented
        h4 By :
        h6 Handoko  
        h6 Randy  Muhroji  
        h6 Alvantesha Priliandi  
        h6 Ica Sitorus
        
      section.aku
        h2 Apa Itu Bully?
        h3.bullet
        ul 
          li.parag Bullying adalah perbuatan yang menyakiti seseorang atau sekelompok orang baik yang dianggap lemah dalam bentuk kekerasan fisik, verbal, ataupun psikologis dalam sebuah lingkungan sosial dalam keadaan yang berulang dan sengaja sehingga si korban tidak mampu membela dirinya sendiri.

      section.aku
        h2 Karakteristik Bullying
        h3.bullet
        ul
          li.parag Adanya pengulangan dari waktu ke waktu dan adanya hubungan yang tidak seimbang antara korban dan pelaku. Dimana korban menganggap diri mereka lebih lemah dan tidak mampu membalas pengganggu mereka.

      
      section.aku
        h2 Taukah Kamu Tindakan Bullying Yang sering Kita Lakukan Dalam Sehari-hari?

      section.aku
        h2 Contoh Tindakan Bullying
        p.bullet
          ul
            li Memanggil korban dengan nama ejekan seperti gendut, kerdil dan sebagainya
            li Kontak fisik yang berpotensi mencederai
            li Menjadikan sesorang sebagai subjek rumor
            li Mengancam korban
            li Mengisolasi korban secara sosial
            li Mengambil barang barang korban secara paksa

      section.aku
        h2.bullet Survei oleh Rektor Ukrida
        ul
          li Membully dengan kata-kata kasar  (35%)
          li Pernah Membully dengan memukul, mendorong, menendang, dll(20%)
          li Membully dengan kata-kata porno (15%)
          li Membully dengan menyebar gosip (20%)
          li Membully dengan memalak(10%)

      section.aku
        h2 DAMPAK BULLYING
        
      section.aku
        h2 Dampak Negatif
        p.bullet
          ul 
            li.kiri Ketakutan
            li.kiri Cemas
            li.kiri Rendah diri
            li.kiri Depresi
            li.kiri Krisis kepercayaan pada orang lain
            li.kiri Gejala-gejala psikosomatis
            li.kiri Susah tidur     

      section.aku
        h2 Dampak Positif
        p.bullet
          ul
            li.kiri Memacu diri ingin menjadi yang terbaik
  

      section.aku
        h2 Cara Menangani Bully
        p.bullet
          ul
            li Berbicara dengan orang dewasa Anda percaya. Jangan menyimpan perasaan Anda di dalam. Menceritakan seseorang dapat membantu Anda merasa kurang sendirian. Mereka dapat membantu Anda membuat rencana untuk menghentikan bullying.
            li Tinggal jauh dari tempat di mana intimidasi terjadi.
            li Tinggal di dekat orang dewasa dan anak-anak lainnya. Kebanyakan intimidasi yang terjadi ketika orang dewasa tidak sekitar.
      section.aku#neg
        h2 Sikap Yang Bijaksana Menanggapi Bullying
        p.bullet
          ul
            li Mengampuni dan mendoakan
            li Tidak membalas tetapi mengasihi
            li Berusaha mencari teman curhat atau yang bisa memahami
            li Mengalihkan pikiran negatif kepada hal-hal positif
            li Berjuang memaksimalkan potensi diri dengan tidak kehilangan tujuan hidup
      section.aku#neg
        h2 Kutipan Favorit
        p.bullet
          ul
            l1 "Bully adalah tindakan kriminal, jadi hargailah temanmu seperti kamu menghargai orang yang kamu sayangi karena pertemanan itu adalah suatu hal yang sangat istimewa"
    script(src='build/build.js')